<!-- TODO In addition to the form functionality we need to extract all the css into classes-->
<div class="scrollable-container">
  <form [formGroup]="supportingInformationForm">

    <div class="row">

      <mat-form-field appearance="outline" class="col" style="margin-right: 1em">
        <mat-label>Height</mat-label>
        <input type="number" matInput formControlName="heightValue">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 7%; margin-right: 2em">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="heightUnit">
          <mat-option *ngFor="let unit of appConstants.HEIGHT_UNITS" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="col" style="margin-left: 2em; margin-right: 1em;">
        <mat-label>Weight</mat-label>
        <input type="number" matInput formControlName="weightValue">
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 7%; margin-right: 2em;">
        <mat-label>Unit</mat-label>
        <mat-select formControlName="weightUnit">
          <mat-option *ngFor="let unit of appConstants.WEIGHT_UNITS" [value]="unit">
            {{unit}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 2em;">
        <mat-label>BMI</mat-label>
        <span matSuffix>kg/m²</span>
        <input matInput type="number" formControlName="bmi">
      </mat-form-field>

    </div>

    <div class="row">
      <div class="col">
        <mat-form-field appearance="outline" style="width: 30%">
          <mat-label>BP (SYS)</mat-label>
          <span matSuffix>mmHg</span>
          <input matInput type="number" formControlName="bpSystolic">
        </mat-form-field>

        <span style="margin-right: 1em; margin-left: 1em; font-weight: bold; font-size: x-large">/</span>

        <mat-form-field appearance="outline" style="margin-right: 1em; width: 30%">
          <mat-label>BP (DIA)</mat-label>
          <span matSuffix>mmHg</span>
          <input matInput type="number" formControlName="bpDiastolic">
        </mat-form-field>
      </div>
    </div>

  </form>

</div>

<div class="row-button-wrapper">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onSave(true)"
          style="margin-left: 1em">
    Submit
  </button>
</div>

