
<div class="flex-row">
  <div><h2>Current Snapshot</h2>

    <pre>
  {{ this.currentSnapshot | json }}
</pre>
  </div>
  <div><h2>Current Param</h2>

    <pre>
  {{ this.currentParameters | json }}
</pre>
  </div>
</div>


<br>
<p>
<button mat-raised-button (click)="this.serviceRequestHandler.setRecipient(this.currentSnapshot, null)">
  <mat-icon>add</mat-icon> Set Recipient Test
</button>

  <button mat-raised-button (click)="this.serviceRequestHandler.checkIfSnapshotStateChanged(this.currentSnapshot, this.currentParameters)">
    <mat-icon>question_mark</mat-icon> Check Change
  </button>

  <button mat-raised-button (click)="this.serviceRequestHandler.setServiceType(this.currentParameters, 'Diabetes')">
    <mat-icon>x</mat-icon> Set Service Type
  </button>

<button mat-raised-button (click)="this.saveServiceRequest(this.currentSnapshot)">
  <mat-icon>save</mat-icon> Save Service Request
</button>

  <button mat-raised-button (click)="this.serviceRequestHandler.deleteTestData()">
    <mat-icon>delete</mat-icon> Delete All
  </button>
</p>
<hr>
<div class="flex-row">
  <div><h2>Saved Snapshot</h2>

    <pre>
  {{ this.currentSnapshot | json }}
</pre>
  </div>
  <div><h2>Saved Param</h2>

    <pre>
  {{ this.currentParameters | json }}
</pre>
  </div>
</div>
