<div class="scrollable-container">
  <div *ngFor="let serviceProvider of serviceProviders">
    <div style="margin-bottom: 1em">
      <app-service-provider
        [serviceProvider]=serviceProvider
      >
      </app-service-provider>
    </div>
  </div>
</div>

<div align="end" style="margin-top: 2em">
  <button mat-raised-button (click)="onSaveAndContinue()" [disabled]="!selectedServiceProvider">Save</button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
<!--  <app-save-cancel-form-controls-->
<!--    [isCancelEnabled]="true"-->
<!--    [isSaveAndContinueEnabled]="isSaveAndContinueEnabled()"-->
<!--    [isSaveAndExitEnabled]="isSaveAndExitEnabled()"-->
<!--    (cancelEvent)= "onCancel()"-->
<!--    (saveAndContinueEvent)="onSaveAndContinue()"-->
<!--    (saveAndExitEvent)="onSaveAndExit()"-->
<!--  ></app-save-cancel-form-controls>-->
</div>
