<div class="scrollable-container">
  <div *ngFor="let serviceProvider of serviceProviders">
    <div style="margin-bottom: 1em">
      <app-service-provider
        [serviceProvider]=serviceProvider
        (selectedProviderEvent)="onSelectedServiceProvider($event)"
      >
      </app-service-provider>
    </div>
  </div>
</div>

<div align="end" style="margin-top: 2em">
  <button mat-raised-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSave()" [disabled]="!selectedServiceProvider">Save</button>
  <button mat-raised-button (click)="onSaveAndContinue()" [disabled]="!selectedServiceProvider">Save and Continue</button>
</div>
