
<div class="scrollable-container">
  <div class="note">
    Please review the information selected carefully before submitting the referral request to the Service Provider.
  </div>
  <div class="row">
    <div class="col">
      <mat-card class="mat-card-summary">
        <mat-card-header class="mat-card-summary-header">
          <mat-card-title class="mat-card-summary-title">Service Details</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-summary-content">
          <div class="row">
            <div class="col label big-label">
              Service Provider:
            </div>
            <div class="col value big-value">
              @if (selectedServiceProvider) {
                @if (selectedServiceProvider.practitioner?.familyName) {
                  {{selectedServiceProvider.practitioner?.familyName}}, {{selectedServiceProvider.practitioner?.givenName}}<br/>
                  {{selectedServiceProvider.organization?.name}}
                } @else {
                  {{selectedServiceProvider.organization?.name}}
                }
              }
            </div>
          </div>
          <div class="row">
            <div class="col label big-label">
              Service Type:
            </div>
            <div class="col value big-value">
              {{ serviceType }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="divider">
    </div>
    <div class="col">
      <mat-card class="mat-card-summary">
        <mat-card-header class="mat-card-summary-header">
          <mat-card-title class="mat-card-summary-title">General Information</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-summary-content">
          <div class="row">
            <div class="col label">
              Race:
            </div>
            <div class="col value col-grow">
              {{ race }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              Ethnicity:
            </div>
            <div class="col value col-grow">
              {{ educationLevel }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              Education Level:
            </div>
            <div class="col value col-grow">
              {{ educationLevel }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              Employment Status:
            </div>
            <div class="col value col-grow">
              {{ educationLevel }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row top-spacer">
    <div class="col">
      <mat-card class="mat-card-summary">
        <mat-card-header class="mat-card-summary-header">
          <mat-card-title class="mat-card-summary-title">Vital Signs</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-summary-content">
          <div class="row">
            <div class="col label">
              Patient Height:
            </div>
            <div class="col value col-grow">
              {{ bodyHeight }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              Patient Weight:
            </div>
            <div class="col value col-grow">
              {{ bodyWeight }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              BMI:
            </div>
            <div class="col value col-grow">
              {{ bmi }}
            </div>
          </div>
          <div class="row">
            <div class="col label">
              Blood Pressure:
            </div>
            <div class="col value col-grow">
              {{ bloodPressure }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="divider">
    </div>
    <div class="col">
      <mat-card class="mat-card-summary">
        <mat-card-header class="mat-card-summary-header">
          <mat-card-title class="mat-card-summary-title">Labs</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mat-card-summary-content">
          <div class="row">
            <div class="col label">
              HA1C:
            </div>
            <div class="col value col-grow">
              {{ ha1c }}
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<div class="row-button-wrapper">
  <button mat-raised-button (click)="onReturn()">Return to Editing</button>
  <button mat-raised-button (click)="onCancel()" style="margin-left: 1em">Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onSendReferral(true)" style="margin-right: 1rem">
    <mat-icon>download</mat-icon>
    Send and Download Referral
  </button>
  <button mat-raised-button color="primary" (click)="onSendReferral(false)" cdkFocusInitial>
    <mat-icon>send</mat-icon>
    Send Referral
  </button>
</div>

