<mat-sidenav-container [autosize]="false">

  <mat-sidenav mode="side" opened>

    <mat-nav-list>

      <mat-list-item>
        <mat-icon>
          visibility
        </mat-icon>
        <span>&nbsp;View Active Referrals </span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon>
          add
        </mat-icon>
        <span>&nbsp;Create Referral </span>
      </mat-list-item>

      <mat-list-item>
        <mat-icon>
          edit
        </mat-icon>
        <span>&nbsp;Resume </span>
      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <app-active-refferals></app-active-refferals>

  </mat-sidenav-content>

</mat-sidenav-container>
