<div class="container top-spacer">
  <div class="controls">
    <div style="font-size: large">
      {{ selectedServiceRequestType }} Service Requests
    </div>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" [routerLink]="['/referral-manager']">
      <mat-icon>add</mat-icon>
      Create New Referral
    </button>
  </div>

  <mat-tab-group class="mat-elevation-z4" (selectedIndexChange)="onSelectServiceRequestType($event)">

    <mat-tab label="Draft {{ isLoading? '' : '(' + (draftServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="draftServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="selectedServiceRequestType"
        (serviceRequestDeletedEvent)="draftServiceRequests"
      ></app-service-request-list>
    </mat-tab>

    <mat-tab label="Active {{ isLoading? '' : '(' + (activeServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="activeServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="selectedServiceRequestType"
        (serviceRequestDeletedEvent)="activeServiceRequests"
      ></app-service-request-list>
    </mat-tab>

    <mat-tab label="Complete {{ isLoading? '' : '(' + (completeServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="completeServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="selectedServiceRequestType"
        (serviceRequestDeletedEvent)="completeServiceRequests"
      ></app-service-request-list>
    </mat-tab>

  </mat-tab-group>

</div>

<!--<div class="overlay" *ngIf="isLoading">-->
<!--  <div class="spinner-container"><mat-spinner [diameter]="70"></mat-spinner></div>-->
<!--</div>-->

