<div class="container top-spacer">
  <div class="controls">
    <div style="font-size: large">Active Referrals and Drafts</div>
    <div class="spacer"></div>
    <button mat-raised-button color="primary" [routerLink]="['/referral-manager']">
      <mat-icon>add</mat-icon>
      Create New Referral
    </button>
  </div>

  <mat-tab-group class="mat-elevation-z4">
    <mat-tab label="Draft {{ isLoading? '' : '(' + (draftServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="draftServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="'draft'"
        (serviceRequestDeletedEvent)="getServiceRequests()"
      ></app-service-request-list>
    </mat-tab>

    <mat-tab label="Active {{ isLoading? '' : '(' + (activeServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="activeServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="'active'"
        (serviceRequestDeletedEvent)="getServiceRequests()"
      ></app-service-request-list>
    </mat-tab>

    <mat-tab label="Complete {{ isLoading? '' : '(' + (activeServiceRequests?.length || 0) + ')' }}">
      <app-service-request-list
        [serviceRequest]="completeServiceRequests"
        [isLoading]="isLoading"
        [serviceRequestType]="'complete'"
        (serviceRequestDeletedEvent)="getServiceRequests()"
      ></app-service-request-list>
    </mat-tab>

  </mat-tab-group>

</div>
