<!--
TODO:
1. Extract all the style tags into css when we know more about the content
2. Load Content dynamically from the api
-->

<div style="background-color: #0d47a1; color: white;">
  <div class="row container" style="font-size: large; padding-top: 1em;">
    <div class="col">{{ patient?.name[0]?.family }}, {{ patient?.name[0]?.given[0] }}</div>
  </div>
  <div class="row container" style="padding-top: 1em; padding-bottom: 1em">
    <div class="col">
      Gender: {{ (patient?.gender || '').toString() | titlecase }}<br/>
      Marital Status: {{ ( patient?.maritalStatus?.text
                          || patient?.maritalStatus?.coding?.[0]?.display
                          || patient?.maritalStatus?.coding?.[0]?.code
                          || '')
                        .toString() | titlecase
                      }} <br/>
      Date of Birth: {{ patient?.birthDate }}<br/>
    </div>
    <div class="col">
      Address:<br/>
      <span *ngIf="patient?.address[0]?.use">{{ patient?.address[0]?.use }}<br/></span>
      {{ patient?.address[0]?.line[0] }}<br/>
      {{ patient?.address[0]?.city }}, {{ patient?.address[0]?.state }},  {{ patient?.address[0]?.postalCode }}
    </div>
    <div class="col">Telecom:
      <div *ngFor="let phone of patient?.telecom">
      {{phone.use}}: {{phone.value}}<br/>
      </div>
    </div>
    <div class="col">Preferred Language(s): </div>
    <div class="col" style="border-style: solid; border-width: thin; padding: 0.5em">Insurance Coverage:
      <br/>
      Aetna<br/>
      Group: ABCD<br>
      Policy #: 12345-987-456
    </div>
  </div>
</div>
