<div class="page">

  <div class="header">

    <mat-toolbar style="background-color: #002171; color: white">
      <span style="cursor: pointer"  [routerLink]="'/'">BSeR Referral Manager</span>
      <span> | (ADD SPACER HERE) | </span>
      <button mat-raised-button  [routerLink]="'/servicerequesttest'">TEST SERVICE REQUEST</button>
      <button mat-raised-button  [routerLink]="'/register'">Register Service Provider</button>
    </mat-toolbar>

    <app-patient-demographics></app-patient-demographics>

  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer>I am a footer</footer>

</div>
