<div class="container top-spacer">
  <div class="flex-row">
    <div class="flex-cell">
      <span  style="font-size: large">Registered Service Providers</span>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="practitionerName">
          <th mat-header-cell *matHeaderCellDef> Practitioner </th>
          <td mat-cell *matCellDef="let element"> {{element.practitioner?.familyName}}, {{element.practitioner?.givenName}} </td>
        </ng-container>

        <ng-container matColumnDef="organizationName">
          <th mat-header-cell *matHeaderCellDef> Organization </th>
          <td mat-cell *matCellDef="let element"> {{element.organization.name}} </td>
        </ng-container>

        <ng-container matColumnDef="deleteButton">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> <mat-icon (click)="onDeleteProvider(element.resources)">delete</mat-icon> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="flex-cell">
      <div class="flex-col">
        <span style="font-size: large">Create Service Provider</span>
        <p>For multiple practitioners represented under a single organization without additional distinction,
        the practitioner fields should be left empty.</p>
        <form [formGroup]="serviceProviderRegistrationForm" class="flex-col">
          <div formGroupName="practitioner" style="border: 1px black solid">
            <h2>Practitioner</h2>
            <mat-form-field appearance="fill">
              <mat-label>Practitioner Given Name</mat-label>
              <input matInput formControlName="givenName">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Practitioner Family Name</mat-label>
              <input matInput formControlName="familyName">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Practitioner Phone #</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Practitioner NPI</mat-label>
              <input matInput formControlName="npi">
            </mat-form-field>
          </div>

          <div formGroupName="organization" style="border: 1px black solid">
            <h2>Organization</h2>
            <mat-form-field appearance="fill">
              <mat-label>Organization Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Organization Phone #</mat-label>
              <input matInput formControlName="phone">
            </mat-form-field>
          </div>

          <div style="border: 1px black solid">
            <h2>Endpoint</h2>
            <mat-form-field appearance="fill">
              <mat-label>Endpoint</mat-label>
              <input matInput formControlName="endpoint">
            </mat-form-field>
          </div>

          <!-- Services-->
          <div style="border: 1px black solid" class="flex-row">
            <div style="border: 1px black solid">
              <mat-selection-list>
                <mat-list-item (change)="onDaysOfWeekChanged($event)"
                               *ngFor="let control of serviceProviderRegistrationForm.controls['services']['controls']['serviceType']['controls'];
                    let i=index;">
                  <mat-checkbox [formControl]="control" [value]="fhirConstants.SERVICE_TYPES[i].code">
                    <span style="font-size:14px">{{fhirConstants.SERVICE_TYPES[i].display}}</span>
                  </mat-checkbox>
                </mat-list-item>
              </mat-selection-list>
            </div>
            <div>
              <mat-selection-list>
                <mat-list-item (change)="onDaysOfWeekChanged($event)"
                               *ngFor="let control of serviceProviderRegistrationForm.controls['services']['controls']['days']['controls'];
                    let i=index;">
                  <mat-checkbox [formControl]="control" [value]="fhirConstants.DAYS_OF_WEEK[i].code">
                    <span style="font-size:14px">{{fhirConstants.DAYS_OF_WEEK[i].display}}</span>
                  </mat-checkbox>
                </mat-list-item>
              </mat-selection-list>
            </div>
            <div formGroupName="services">
              <div class="flex-col">
                <mat-form-field appearance="fill">
                  <mat-label>Start Time</mat-label>
                  <input matInput formControlName="startTime" type="time">
                </mat-form-field>
                <mat-form-field appearance="fill">
                  <mat-label>End Time</mat-label>
                  <input matInput formControlName="endTime" type="time">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div>
            <button mat-raised-button color=primary (click)="clear()">
              Clear Form
            </button>
            <button mat-raised-button color=primary (click)="onSubmit()">
              Create Service Provider
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
