<mat-card [class.mat-elevation-z1]="!serviceProvider?.selected" [class.mat-elevation-z8]="serviceProvider?.selected">
  <mat-card-title [ngStyle]="{'color':serviceProvider.selected ? '#0d47a1' : '' }">
    {{serviceProvider?.name}}
  </mat-card-title>
  <mat-card-subtitle>Service Provider Info</mat-card-subtitle>
  <mat-card-content>
    <div *ngIf="serviceProvider?.selected"> {{serviceProvider?.details}}<br/>
      We can add more content here as we need.<br/><br/>
      Address: 123 Main Street
    </div>
    <div *ngIf="!serviceProvider?.selected"> Minimal content.</div>
  </mat-card-content>
  <mat-card-actions  align="end">
    <button *ngIf="!serviceProvider?.selected" mat-raised-button color="primary"
            (click)="onToggleSelectValue(serviceProvider)">
      <mat-icon>check</mat-icon>
      Select
    </button>
    <button *ngIf="serviceProvider?.selected" mat-raised-button color="primary"
            (click)="onToggleSelectValue(serviceProvider)">
      <mat-icon>close</mat-icon>
      Deselect
    </button>
  </mat-card-actions>
</mat-card>
