<!-- TODO In addition to the form functionality we need to extract all the css into classes-->
<div class="scrollable-container">
  <form [formGroup]="generalInfoServiceTypeForm">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Service Type Info</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row" style="margin-top: 2em">
          <mat-form-field appearance="outline" style="width: 40%">
            <mat-label>
              Service Type
            </mat-label>
            <mat-select id="serviceType" formControlName="serviceType">
              @for (service of getServices(selectedServiceProvider); track service) {
                <mat-option
                  [value]="service">
                  {{service.display}}
                </mat-option>
              }
            </mat-select>
            <mat-error>
              Please select service type
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row">
          <b>Note:</b> &nbsp; Changing values here will not update the Patient's information in the local system, but will
          change what
          is sent to the Recipient Service Provider.
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card style="margin-top: 2em">
      <mat-card-header>
        <mat-card-title>Additional Patient Demographics</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row"></div>
        <div class="row" style="margin-top: 1em">
          <div class="note">
            <b>Note:</b> &nbsp; Changing values here will not update the Patient's information in the source system, but will
            allow corrections in what is sent to the Service Provider. This may also be used to obscure data being sent to
            third parties if needed.
          </div>
        </div>
        <div class="row" style="margin-top: 1em">

          <!-- Select Race controls  -->
          <div class="col">
            <div style="width: 10em; font-size: medium;">
              <mat-label [ngStyle]="{ 'color': !isRaceSelected() && generalInfoServiceTypeForm.touched ? 'red' : '' }">
                Race&nbsp;*
              </mat-label>
            </div>
            <div>
              <!-- checkboxes -->
              <mat-selection-list>
                @for (category of generalInfoServiceTypeForm.controls['raceCategoriesListCheckboxes']['controls']; track category; let i = $index) {
                  <mat-list-item
                    >
                    <mat-checkbox [formControl]="category" (change)="onRaceCategoryCheckboxChange($event)">
                      <span style="font-size:14px">{{fhirConstants.RACE_CATEGORIES.slice(0, 5)[i].display}}</span>
                    </mat-checkbox>
                  </mat-list-item>
                }
              </mat-selection-list>

              <!-- radio buttons -->
              <mat-radio-group formControlName="raceCategoriesListRadioBtns" class="radio-group">
                @for (raceCategory of fhirConstants.RACE_CATEGORIES.slice(-2); track raceCategory) {
                  <mat-radio-button
                    style="margin-top: 1em; margin-left: 1em"
                    (change)="onRaceCategoryRadioBtnChange($event)"
                    [value]="raceCategory">
                  {{raceCategory.display}}</mat-radio-button>
                }
              </mat-radio-group>

              @if (!isRaceSelected() && generalInfoServiceTypeForm.touched) {
                <mat-error style="font-size: 75%;">
                  Please select race
                </mat-error>
              }
            </div>
          </div>

          <!-- Select Ethnicity -->
          <div class="col">
            <div style="width: 10em; font-size: medium;">
              <mat-label [ngStyle]="{ 'color': isControlValid('ethnicity', 'required')? 'red' : '' }">
                Ethnicity&nbsp;*
              </mat-label>
            </div>
            <div>
              <mat-radio-group formControlName="ethnicity" class="radio-group">
                @for (ethnicGroup of fhirConstants.ETHNICITY; track ethnicGroup) {
                  <mat-radio-button class="example-radio-button" [value]="ethnicGroup">{{ethnicGroup.display}}</mat-radio-button>
                }
              </mat-radio-group>
            </div>
            @if (isControlValid('ethnicity', 'required')) {
              <mat-error style="font-size: 75%;">
                Please select ethnicity
              </mat-error>
            }
          </div>

        </div>

        <div class="row" style="margin-top: 3em">
          <div class=col>
            <mat-form-field appearance="outline" style="width: 85%">
              <mat-label>Education Level</mat-label>
              <mat-select formControlName="educationLevel">
                @for (educationLevel of fhirConstants.EDUCATION_LEVEL; track educationLevel) {
                  <mat-option
                    [value]="educationLevel">
                    {{educationLevel.display}}
                  </mat-option>
                }
              </mat-select>
              <mat-error>
                Please select education level
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col">
            <mat-form-field appearance="outline" style="width: 85%">
              <mat-label>Employment Status</mat-label>
              <mat-select formControlName="employmentStatus">
                @for (employmentStatus of fhirConstants.EMPLOYMENT_STATUS; track employmentStatus) {
                  <mat-option
                    [value]="employmentStatus">
                    {{employmentStatus.display}}
                  </mat-option>
                }
              </mat-select>
              <mat-error>
                Please select employment status
              </mat-error>
            </mat-form-field>
          </div>
        </div>

      </mat-card-content>
    </mat-card>

  </form>

</div>

<div class="row-button-wrapper">
  <button mat-raised-button (click)="onReturn()">Return to Select Recipient</button>
  <button mat-raised-button (click)="onCancel()" style="margin-left: 1em">Cancel</button>
  <span class="spacer"></span>
  <button mat-raised-button (click)="onSave()">Save</button>
  <button mat-raised-button color="primary" (click)="onProceed()"
    style="margin-left: 1em">
    Proceed
  </button>
</div>

