<!-- TODO In addition to the form functionality we need to extract all the css into classes-->

<form [formGroup]="generalInformationAndServiceTypeForm" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-title>Service Type Info</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Service Type</mat-label>
        <mat-select>
          <mat-option *ngFor="let educationLevel of fhirTerminologyConstants.EDUCATION_LEVEL"
                      [value]="fhirTerminologyConstants.EDUCATION_LEVEL">
            {{educationLevel.display}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 2em">

    <mat-card-title>Additional Patient Demographics</mat-card-title>
    <mat-card-content>
    <div class="row" style="margin-top: 1em">
      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Education Level</mat-label>
          <mat-select>
            <mat-option *ngFor="let educationLevel of fhirTerminologyConstants.EDUCATION_LEVEL"
                        [value]="fhirTerminologyConstants.EDUCATION_LEVEL">
              {{educationLevel.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col">
        <mat-form-field appearance="outline">
          <mat-label>Employment Status</mat-label>
          <mat-select>
            <mat-option *ngFor="let employmentStatus of fhirTerminologyConstants.EMPLOYMENT_STATUS"
                        [value]="fhirTerminologyConstants.EMPLOYMENT_STATUS">
              {{employmentStatus.display}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

<!--      <div class="col">-->
<!--        <mat-form-field appearance="outline">-->
<!--          <mat-label>Race and Ethnicity</mat-label>-->
<!--          <mat-select>-->
<!--            <mat-option *ngFor="let employmentStatus of fhirTerminologyConstants.EMPLOYMENT_STATUS"-->
<!--                        [value]="fhirTerminologyConstants.EMPLOYMENT_STATUS">-->
<!--              {{employmentStatus.display}}-->
<!--            </mat-option>-->
<!--          </mat-select>-->
<!--        </mat-form-field>-->
<!--      </div>-->
    </div>
    </mat-card-content>

  </mat-card>


</form>
