/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

/*This is bootstrap-like container, and we can change the media queries as needed one day*/
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.top-spacer{
  padding-top: 15px;
}

.scrollable-container {
  height: 50vh;
  max-width: 100%;
  overflow: scroll;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
  border-style: solid;
  border-width: 1px;
  border-color: #eceff1
}

.row-button-wrapper {
  margin-top: 1em;
  display: flex;
  align-items:center;
}

.row {
  display: flex;  /* aligns all child elements (flex items) in a row */
}

.col {
  flex: 1;        /* distributes space on the line equally among items */
}
