<div class="container top-spacer">

  <mat-card>

    <mat-card-content>
      <mat-stepper linear #stepper>

        <!-- Select a Provider (for example YMCA) -->
        <mat-step label="Select Recipient" [completed]='isStepCompleted(1)' >
          <div>
            <app-service-provider-list
              (savedSuccessEvent)="onSaveProvider($event)"
              [referral]="currentSnapshot"
            ></app-service-provider-list>
          </div>
        </mat-step>

        <!-- Select supporting information -->
        <mat-step label="General Information and Service Type" [completed]='isStepCompleted(2)' >
          <app-general-information-and-service-type
            (savedSuccessEvent)="stepper.next()"
            [referral] = "currentSnapshot"
          ></app-general-information-and-service-type>
        </mat-step>

        <!-- Add Patient general information -->
        <mat-step label="Supporting Information" [completed]='isStepCompleted(3)'>
          <div>
            <app-request-supporting-information>
            </app-request-supporting-information>
          </div>
        </mat-step>

      </mat-stepper>


      Referral <pre> {{ referral | json }}</pre>

    </mat-card-content>

  </mat-card>

</div>
